{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.min.js"></script>
<style>
    main {
        display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
    }

    @keyframes blinkingPortfolioItems {
  0% {
    transform: scale(0.5,0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1,1);
    opacity: 1;
  }
}

.portfolio-items {  
  /* This section calls the slideInFromLeft animation we defined above */
  animation: 1s ease-out 0s 1 blinkingPortfolioItems;
  height: 30vw;
  width: 20vw;
     max-height: 300px;
   margin-right: 15px; 
   margin-bottom: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





      .top-menus {
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.6vmin;
        text-transform: uppercase;
        
        
    }

    
    .main-content {
      margin-left: 25%;
       z-index: 10; 
       margin-top: 50px;
    }

    main {
      width: 70%;
        height: auto;

    }

    .portfolio-name {
      color:rgba(207, 104, 20, 0.788);
       font-size: 0.8vmax;
        margin:0px;
        padding: 0;
       font-weight: bold;
    }



</style>
{% endblock %}


{% block body %} 
<!--Navigational links-->
<nav style="position:fixed; top: 20px; right: 1%;">
   
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a class="top-menus"  href="{% url 'services' %} ">Services</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'works' %} ">Reels</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'contact'  %}" >Contact</a><br>
     <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452);"></i> <a class="top-menus"  href="{% url 'about' %}" >About US</a><br>
</nav>  <!--Navigational links endblock-->




<!--Main content- Portfolio items display begin-->
<div class="main-content">
    <h2 style="color:rgba(207, 104, 20, 0.438) ;font-size: 3.8vmin; width: 70%;"><b>OUR CLIENTS, OUR WORK...</b></h2>
        <main>
    {% for portfolio in portfolios %}
      <div class="portfolio-items">
          <img class="portfolio-images" onclick="colorImages(this)" src="{{portfolio.image.url}}" alt="{{portfolio.name}}" width="100%" height="90%">
          <p class="portfolio-name">{{portfolio.name}} </p>
      </div>
    {% endfor %}
</main>
</div>
<!--Main content- Portfolio items display end-->


<script>





function colorImages (image) {

    const colorThief = new ColorThief();
    img = colorThief.getColor(image);
console.log(colorThief.getColor(image));

document.body.style.animationName = "xyz";
document.body.style.background = "linear-gradient(45deg, black 0%, rgb(" + img[0] + "," + img[1] + "," + img[2] + ") 50%, black 100%)";
console.log(img[0], img[1], img[2]);
}



</script>



{% endblock %}