{% extends 'base.html' %}
{% load static %}
{% block head %}

<style>

* {
  box-sizing: border-box;
}
.flip-card {
  background-color: transparent;
  width: 17vw;
  height: 25vw;
    max-height: 300px;
  perspective: 1000px;
    float: left;
  margin-right: 15%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  
}

.flip-card-front {
    opacity: 0.7;
}

main {

}

.flip-card::after {
    content: "";
    clear: both;
    display: table;
}

.flip-card-inner {
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}



        .top-menus {
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.6vmin;
        text-transform: uppercase;
        
        
    }

    .main-div {
       margin-left: 25%;
        z-index: 10; 
        margin-top: 50px;
    }

    main {
      height: auto;
      width: 80%; 
      padding:50px;
        display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
    }

    .service-name {
      font-size: 1.8vmin;  
      color: white; 
      z-index: 5; 
      position: absolute;
      bottom: 2px; 
      right: 5px;
    }
        



</style>
{% endblock %}


{% block body %}
<!--Navigational links-->
<nav style="position:fixed; top: 20px; right: 1%;">
   
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a class="top-menus"  href="{% url 'portfolio' %} ">Portfolio</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'works' %} ">Reels</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'contact'  %}" >Contact</a><br>
     <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452);"></i> <a class="top-menus"  href="{% url 'about' %}" >About Us</a><br>
</nav>


<!--Main Content begins-->
<div class="main-div">
   
    <h2 style="color:rgba(207, 104, 20, 0.438) ; font-size: 3.8vmin; width: 78%;"><b>CHECK OUT OUR EXPERTS DOING WHAT THEY DO THE BEST!</b></h3>

    <main>
        {% for service in services %}
        
        <div class="flip-card">  <!--Flipping card action to show different services-->
            <p class="service-name">{{service.name}}</p> 
            <div class="flip-card-inner">
                
              <div class="flip-card-front">
                
                  {% if service.media.url|slice:"-4:" == ".mp4" %} <!--Checking if media is a video or an image-->


                  <video width="100%" height="100%" muted autoplay loop> <!--Video rendering-->
                   
                    <source src="{{ service.media.url }}" type="video/mp4">
                    <source src="{{ service.media.url }}" type="video/ogg">
                    Your browser does not support the video tag.
                  </video>

                 


                  {% else %}

                   <img width="100%" height="100%" src="{{service.media.url}}" alt="service-image"> <!--Image rendering-->

                  {% endif %}
                
              </div>
              <div  style="padding:8%;" class="flip-card-back">
                
                <p style="font-size: 0.9vmax;"><i>{{service.description}}</i></p> <!--Service description at back of the card-->
                
              </div>
            </div>
          </div>
        
          {% endfor %}
             
        </main>

    </h2>
</div><!--Main Content ends-->



<!--Script to initiate flip action of card onclick for mobile devices-->
<script>  
    $('.flip-card .flip-card-inner').click(function() {
	$(this).closest('.flip-card').toggleClass('hover');
    $(this).css('transform, rotateY(180deg)');
    $(this).css('transform, scale(2,2)' );
});
</script>



{% endblock %}