{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>
* {
  box-sizing: border-box;
}
.flip-card {
  background-color: transparent;
  width: 17vw;
  height: 20vw;
  perspective: 1000px;
    float: left;
  margin-right: 15%;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  
}

.flip-card-front {
    opacity: 0.7;
}

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flip-card::after {
    content: "";
    clear: both;
    display: table;
}

.flip-card-inner {
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: white;
  transform: rotateY(180deg);
}



        .top-menus {
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.6vmin;
        text-transform: uppercase;
        
        
    }

    .main-div {
       margin-left: 25%;
        z-index: 10; 
        margin-top: 50px;
    }

    main {
      height: 80vw; 
      width: 80%; 
      padding:50px;
    }

    .service-name {
      font-size: 1.8vmin;  
      color: white; 
      z-index: 5; 
      position: absolute;
      bottom: 2px; 
      right: 5px;
    }
        
    footer {
        position:relative;
         bottom: 0px;
          color: cornsilk;
            height: 45vh;
             padding: 15px;
    }

    .divider {
        position: absolute; 
        float: right;
          width: 1px;
           background-color: cornsilk;
            opacity: 0.2;
             bottom: 10%;
              height: 45%;
    }

    .subs-footers {
        position: absolute;
         width: 20%; 
         top: 50%;
    }

    .footer-heading {
        color: cornsilk;
         font-size: 2.5vmin;
          margin:0px;
    }



</style>
{% endblock %}


{% block body %}
<!--Navigational links-->
<nav style="position:fixed; top: 20px; right: 1%;">
   
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a class="top-menus"  href="{% url 'portfolio' %} ">Explore portfolio</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'works' %} ">Checkout reels</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'contact'  %}" >Let's connect!</a><br>
     <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452);"></i> <a class="top-menus"  href="{% url 'about' %}" >Our story..</a><br>
</nav>


<!--Main Content begins-->
<div class="main-div">
   
    <h2 style="color:rgba(207, 104, 20, 0.438) ;"><b>CHECK OUT OUR EXPERTS DOING WHAT THEY DO THE BEST!</b></h3>

    <main>
        {% for service in services %}
        
        <div class="flip-card">  <!--Flipping card action to show different services-->
            <p class="service-name">{{service.name}}</p> 
            <div class="flip-card-inner">
                
              <div class="flip-card-front">
                
                  {% if service.media.url|slice:"-4:" == ".mp4" %} <!--Checking if media is a video or an image-->


                  <video width="100%" height="100%" muted autoplay loop> <!--Video rendering-->
                   
                    <source src="{{ service.media.url }}" type="video/mp4">
                    <source src="{{ service.media.url }}" type="video/ogg">
                    Your browser does not support the video tag.
                  </video>

                 


                  {% else %}

                   <img width="100%" height="100%" src="{{service.media.url}}" alt="service-image"> <!--Image rendering-->

                  {% endif %}
                
              </div>
              <div  style="padding:10px;" class="flip-card-back">
                
                <p style="font-size: 1rem;"><i>{{service.description}}</i></p> <!--Service description at back of the card-->
                
              </div>
            </div>
          </div>
        
          {% endfor %}
             
        </main>
       
</div> <!--Main Content begins-->

<!--Footer begins-->
<footer>
    <div class="subs-footers" style="left: 10%;">
    <h3 class="footer-heading">CONTACT</h3>
    <address style="color: cornsilk; font-size: 2vmin; margin-top: 10px"> <!--Company address-->
 Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit, <br>
    </address>
        </div>



    <div class="divider" style="left: 33%;"> <!--Divider of footer-->
    </div>



     <div class="subs-footers" style="left: 40%;">  <!--Social Media links-->
    <h3 class="footer-heading">SOCIALS</h3>
     <div style="color: cornsilk; font-size: 1.8vmin; margin-top: 10px">
        <span><img src="{% static 'PPP instagram.png' %}" alt="Instagram icon" height="20px" width="20px" style="margin-right: 5px"> </span> <!--Instagram link-->
        <span><img src="{% static 'PPP twitter.png' %}" alt="Twitter icon" height="20px" width="20px" style="margin-right: 5px"> </span> <!--Twitter link-->
        <span><img src="{% static 'PPP vimeo.png' %}" alt="Vimeo icon" height="20px" width="20px" style="margin-right: 5px"> </span> <!--Vimeo link-->
         <span><img src="{% static 'PPP whatsapp.png' %}" alt="Whatsapp icon" height="20px" width="20px" style="margin-right: 5px"> </span> <!--Whatsapp link-->
    </div>
        </div>



    <div class="divider" style=" left: 64%;"> <!--Divider of footer-->
    </div>



     <div  class="subs-footers" style="left: 71%; width:10%">  <!--MassiveVFX Social Media links-->
    <h3 class="footer-heading">PARENT COMPANY </h3>
    <div style="color: cornsilk; font-size: 2vmin; margin-top: 10px">
        <p><i class="fas fa-angle-right" style="color: whitesmoke"></i>
            <a href="https://www.massivevfxstudios.com/" target="_blank" style="text-decoration: none">Massive VFX Studios</a></p> <!--MassiveVFX Website link-->
         <div style="color: cornsilk; font-size: 1.8vmin; margin-top: 10px">
        <span><img src="{% static 'PPP instagram.png' %}" alt="Instagram icon" height="20px" width="20px" style="margin-right: 5px"> </span> <!--MassiveVFX Instagram link-->
        <span><img src="{% static 'PPP twitter.png' %}" alt="Twitter icon" height="20px" width="20px" style="margin-right: 5px"> </span>  <!--MassiveVFX Twitter link-->
        <span><img src="{% static 'PPP vimeo.png' %}" alt="Vimeo icon" height="20px" width="20px" style="margin-right: 5px"> </span>  <!--MassiveVFX Vimeo link-->
         <span><img src="{% static 'PPP whatsapp.png' %}" alt="Whatsapp icon" height="20px" width="20px" style="margin-right: 5px"> </span> <!--MassiveVFX Whatsapp link-->
    </div>
    </div>
        </div>
</footer>
<!--Footer ends-->


<!--Script to initiate flip action of card onclick for mobile devices-->
<script>  
    $('.flip-card .flip-card-inner').click(function() {
	$(this).closest('.flip-card').toggleClass('hover');
    $(this).css('transform, rotateY(180deg)');
});
</script>

{% endblock %}