{% extends 'base.html' %}
{% load static %}
{% block head %}
<style>


 .top-menus {
        text-decoration: none;
        color:whitesmoke;
        font-size: 1.6vmin;
        text-transform: uppercase;
        
        
    }

    .video-elements {
        margin-right: 25px; 
        margin-bottom: 25px;
    }

    main {
        margin-left:0px;
        margin-bottom: 20px;
    }

    .main-div {
        margin-left: 30%;
         z-index: 10;
          margin-top: 50px;
    }


</style>
{% endblock %}


{% block body %}    <!--Navigational links-->
<nav style="position:fixed; top: 20px; right: 1%;">
   
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a class="top-menus"  href="{% url 'portfolio' %} ">Portfolio</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'services' %} ">Services</a><br>
    <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452)"></i> <a  class="top-menus"   href="{% url 'contact'  %}" >Contact!</a><br>
     <i class="fas fa-angle-right" style="color: rgba(245, 245, 245, 0.452);"></i> <a class="top-menus"  href="{% url 'about' %}" >About Us</a><br>
</nav>


<!--Main Content begins-->
<div class="main-div">
    <h2 style="color:rgba(207, 104, 20, 0.438) ; width: 70%;font-size: 3.8vmin;"><b>HERE'S A SNIPPET OF OUR VFX REEL COLLECTION THAT ENCAPSULATES OUR DEXTIRITY!</b></h2>
        <main>
    {% for work in works %}
      {% if work.video %}
        <video class="video-elements" style="border: none;" src="{{work.video.url}}" width="50%" height="50%" controls></video>
      {% else %}  
        <iframe class="video-elements" src="{{link}}" controls width="50%" height="50%"></iframe>

      {% endif %}
    {% endfor %}
</main>
          
</div> <!--Main Content ends-->



{% endblock %}